<!DOCTYPE html>
<html land="en">
<head>
  <meta charset="UTF-8">
  <title>MyBlog {{title}}</title>
  <link rel="stylesheet" type="text/css" href="../home.css"/>
</head>
<body>
  <header>
    <a href="../admin">&lt-- Go back home</a>
  </header>
  <form>
    <input type="text" id="title" name="title" value="{{title}}"></input>
    <textarea id="contents" name="contents" rows="40" cols="60">{{{contents}}}</textarea>
    <input type="submit" id="edit" value="Edit"></input>
  </form>
    <button type="submit" id="delete" value="Delete">Delete</button>
  <script>
    const btnEdit = document.getElementById('edit');
    const url = window.location.href;
    const id = parseInt(url.split('/').at(-1)); //last element is post id

    btnEdit.addEventListener('click', (event) => {
      event.preventDefault();

      const obj = {
        id: id,
        title: document.getElementById('title').value,
        contents: document.getElementById('contents').value
      };

      console.log(obj); // debug
      const editHeaders = new Headers();
      editHeaders.append('Content-Type', 'application/json');
      // append credentials header later (!)

      const options = {
        method: 'PUT',
        body: JSON.stringify(obj),
        headers: editHeaders
      }
      fetch(url, options)
        .then(res  => res.text())
        .then(data => showSucess(data))
        .catch(err => console.log(err));
    });

    const btnDelete = document.getElementById('delete');
    const confirmationText = "Are you sure? click again if YES";

    btnDelete.addEventListener('click', (event) => {
      if (!(btnDelete.textContent === confirmationText)) {
        btnDelete.textContent = confirmationText;
        return;
      }

      fetch(url, { method: "DELETE" })
        .then(res  => res.text())
        .then(data => showSucess(data))
        .catch(err => console.log(err));
    });
    function showSucess(data) {
      alert(data);
      window.history.back();
    }
  </script>
<body>
</html>
