<!DOCTYPE html>
<html land="en">
<head>
  <meta charset="UTF-8">
  <title>MyBlog - new post</title>
  <link rel="stylesheet" type="text/css" href="../home.css"/>
</head>
<body>
  <header>
    <a href="../admin">&lt-- Go back home</a>
  </header>
  <form>
    <input type="text" id="title" name="title"></input>
    <textarea id="contents" name="contents" rows="40" cols="60"></textarea>
    <input type="submit" id="edit" value="post"></input>
  </form>
  <script>
    const btnEdit = document.getElementById('edit');
    const url = window.location.href;

    btnEdit.addEventListener('click', (event) => {
      event.preventDefault();

      const obj = {
        title: document.getElementById('title').value,
        contents: document.getElementById('contents').value
      };

      console.log(obj); // debug
      const editHeaders = new Headers();
      editHeaders.append('Content-Type', 'application/json');
      // append credentials header later (!)

      const options = {
        method: 'POST',
        body: JSON.stringify(obj),
        headers: editHeaders
      }
      fetch(url, options)
        .then(res  => res.text())
        .then(data => showSucess(data))
        .catch(err => console.log(err));
    });
    function showSucess(data) {
      alert(data);
      window.history.back();
    }
  </script>
<body>
</html>
