<!DOCTYPE html>
<html land="en">
<head>
  <meta charset="UTF-8">
  <title>MyBlog {{title}}</title>
  <link rel="stylesheet" type="text/css" href="../home.css"/>
</head>
<body>
  <header>
    <a href="../admin">&lt-- Go back home</a>
  </header>
  <form>
    <input type="text" id="title" name="title" value="{{title}}"></input>
    <textarea id="contents" name="contents" rows="40" cols="60">{{{contents}}}</textarea>
    <input type="submit" id="send" value="Edit"></input>
  </form>
  <script>
    const btn = document.getElementById('send');
    const url = window.location.href;

    btn.addEventListener('click', (event) => {
      event.preventDefault();

      const obj = {
        id: parseInt(url.split('/').at(-1)), //last element is post id
        title: document.getElementById('title').value,
        contents: document.getElementById('contents').value
      };

      console.log(obj); // debug
      const editHeaders = new Headers();
      editHeaders.append('Content-Type', 'application/json');
      // append credentials header later (!)

      const options = {
        method: 'PUT',
        body: JSON.stringify(obj),
        headers: editHeaders
      }
      fetch(url, options)
        .then(res  => res.text())
        .then(data => console.log(data))
        .catch(err => console.log(err));
    });
  </script>
<body>
</html>
