body {
  width: 25em;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background: #333131;
  font-size: 1.5em;
}
a {
  color: #92adff;
}
img {
  max-width: 25em;
}

code {
  display: inline-block;
  border: 1px solid white;
  background: #0f0b0d;
  padding: 0.1em;
}
